<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
<Document name="isc.codetidy.ZPM"><Module>
  <Name>isc.codetidy</Name>
  <Version>1.1.0+snapshot</Version>
  <Packaging>module</Packaging>
  <Resource Name="pkg.isc.codetidy.PKG" />
  <Resource Name="pkg.isc.codetidy.CodeTidy.INC" />
  <UnitTest Name="/tests" Format="UDL" Package="pkg.isc.codetidy.test" />
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
