<?xml version="1.0" encoding="UTF-8"?>
<Export generator="IRIS" version="26">
<Document name="pkg.isc.codetidy.ZPM"><Module>
  <Name>pkg.isc.codetidy</Name>
  <Version>1.0.0+snapshot</Version>
  <Packaging>module</Packaging>
  <Resource Name="pkg.isc.codetidy.PKG" />
  <Resource Name="pkg.isc.codetidy.ISTCodeTidy.INC" />
  <LifecycleClass>Module</LifecycleClass>
</Module>
</Document></Export>
